#main .content .left { float:left; width:75%; padding-right:10px;}
#main .content .right {float:left; width:21%; margin-left:10px;}
#main .content .right ul{margin:10px 0 0 5px; padding:0px;list-style:none; }
#main .content .right ul li{ margin:5px auto;}
#main .content .con{  padding-top:10px; padding-bottom:10px; float:left; width:100%;}

.subcatlist { list-style:none; margin:0; padding:0;}
.subcatlist li{ float:left; width:165px;} 


#biz_permalink_tips { color:#C00; display:none;}

label{ cursor:pointer}


th{ font-weight:bold; text-align:center; padding-right:20px;}

.rateScore{ font-size:16px; display:none; clear:both}

#rate5 { color:#008709}
#rate4 { color:#497F00}
#rate3 { color:#826400}
#rate2 { color:#8C3E00}
#rate1 { color:#7A0800}