#main{ height:auto;}
#main .content .detail { width:100%; clear:both;   height:auto; float:left}
#main .content .detail .info { width:550px; float:left;}
#main .content .detail .info .first{ width:310px; float:left; margin:0 10px;}
#main .content .detail .info .other { float:left;}
#main .content .detail .info .other .item{float:left; padding-top:20px; }
.weather{ display:none;}
.weather .day{ float:left; margin-left:10px;_margin-left:5px;}
.weather .day .img{ float:left; margin-right:10px; text-align:center;}
.weather .day .tx{ float:left; width:100px;}
#main .content .detail .map {float:left; padding-left:5px; width:335px; height:340px;}

#main .content .info .left{ margin:10px; margin-left:0;width:62%; float:left; padding-right:10px;}
#main .content .info .con{  padding-top:10px; padding-bottom:3px;; border-bottom:#ccc 1px solid; float:left;}
#main .content .info .con ul {list-style:none; margin:0; padding:0; clear:both;}
#main .content .info .con ul li {float:left; width:33%;}
#main .content .info .right{ margin-top:10px; width:35%;  float:left;}

#main .content .info .left .con .item{ height:220px;  float:left; width:45%; padding-right:20px;}
#main .content .info .left .con .pic { float:left; width:20%; padding-top:10px; padding-left:10px; text-align:left;}
#main .content .info .left .con .t { float:left; width:75%; padding-left:10px;}
#main .content .info .right .con {width:100%;}
#main .content .info .right .con .photo {width:40%; text-align:center; height:auto; margin:0 5px; float:left;}
#main .content .info .right .con .item{ height:auto;  float:left; width:98%; padding-top:10px; padding-left:10px;}
#main .content .info .right .con .item .t{ padding-left:10px;}
#main .content .info .right .con .item .pic{width:auto;}

#pv{ color:#000; font-size:11px;}

.Sitem{ float:left; cursor:pointer; border-left:1px #ccc solid;padding:3px 10px;color:#009;}
 .SitemS { background-color:#CFEBFF; float:left; border-left:1px #ccc solid;  padding:3px 10px;cursor:pointer;color:#900;}

.style1 {
  font-size: 18px;
  color: red;
}
.box{ margin-bottom:10px; padding:5px;}

.blue { border:1px solid #BEE3FE; padding:0; padding-bottom:5px; margin:10px 0; float:left;width:225px; position:relative;}
.blue h1{
background:transparent url(../images/border-top2.gif) repeat-x scroll 0 0;
font-size:12px;
font-weight:normal;
margin:0;
margin-bottom:5px;
padding:5px;
}

.blue .c1b{ background:url(../images/left-top-corner2.gif) no-repeat; top:-1px; left:-1px;}
.blue .c2b{ background:url(../images/right-top-corner2.gif) no-repeat; top:-1px; right:-1px;}
.blue .c3b{ background:url(../images/left-bot-corner2.gif) no-repeat; bottom:-1px; left:-1px;}
.blue .c4b{ background:url(../images/right-bot-corner2.gif) no-repeat; bottom:-1px; right:-1px;}

h1#current_text{ background:none; font-weight:bold; font-size:14px;}

#tips{position:absolute; width:240px; height:35px; background:#fff url(../images/tips-bg.png) 0 -15px repeat-x; top:570px; left:270px; border:#999 solid 2px; z-index:99999;
padding:20px 30px 0 50px; text-align:center;
-moz-border-radius:6px;
-moz-box-shadow:0 4px 18px #C8C8C8;
-webkit-border-radius: 11px 11px;
-webkit-box-shadow:#C8C8C8 0px 4px 18px;
display:none;
}


#biz_description{ position:relative; border-bottom:1px #CFECFE solid; margin-bottom: 40px;}
#biz_description_text{ display:none;}
#biz_description_more, #biz_description_hide{ cursor:pointer; display:block; background:#CFECFE; position:absolute; bottom:-19px; left:20px; padding:2px 8px; width:200px; font-size:11px;}
#biz_description_more:hover, #biz_description_hide:hover{ background:#E0FAFF;}
#biz_description_hide{ display:none;}


#owner_reply_div{padding-left:40px; background:url(../images/quote-right.gif) no-repeat bottom right; padding-bottom:10px; margin-left:30px;}
#owner_reply_div h3{ margin-left:-35px; padding-left:25px; background:url(../images/quote-left.gif) no-repeat;}
 #owner_reply_div h3 span{ float:right; font-weight:normal;}
 
#range_tip_a{ display:inline-block; width:70px;}
#range_tip{ position:absolute; display:none; background-image:#eee; background-position:0 -60px; left:100px;  width:200px; padding:10px; z-index:99999; font-size:11px;}

label{ cursor:pointer}


th{ font-weight:bold; text-align:center; padding-right:20px;}

.rating{ font-size:14px; color:#C00;}

.rateScore{ display:none; clear:both}

#rate5 { color:#008709}
#rate4 { color:#497F00}
#rate3 { color:#826400}
#rate2 { color:#8C3E00}
#rate1 { color:#7A0800}


/* Special Offers */

.special_offer { width:260px; margin-left:10px; border:1px #ccc solid; padding:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin-bottom:10px;} 

#special_offer_edit{ background-color:#FFC;}

.special_offer em{ text-align:right; width:100%; display:inline-block}

/*(button)*/
.offer_button { display:block; text-align:center;  padding:5px; margin:5px; padding:8px 10px;-moz-border-radius:5px;-webkit-border-radius:5px; -webkit-box-shadow:#666 0px 0px 2px;-moz-box-shadow:#666 0px 0px 2px; border:1px #fff solid; cursor:pointer; background:url(../images/plusmark.png) no-repeat #F9F9F9 8px 2px;}
.delete_offer { background-image:url(../images/b_del.png); background-position:16px 7px;}
.create_post_offer { background-image:url(../images/b_success.png); background-position:16px 6px;}
.edit_post_offer{ background-image:url(../images/pencil.png); background-position:16px 6px;}


.create_offer_div, .edit_offer_div{ display:none; padding:10px;}

.special_offer label{ display:block;}
.special_offer input, .special_offer textarea{ width:230px; padding:3px; border:1px #ccc solid; font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
#special_offer {background:#fffff6;}
#special_offer_edit .preview_offer{ display:block; cursor:text;  background:url(../images/pencil.png) no-repeat right top;}
#special_offer_edit .preview_offer:hover{ background-color:#fffff6;}
.preview_offer h3{ margin-top:0;}

.info-left{ width: 480px;}
.info-left-p{ width: 480px;float:left;padding:0px;}
.info-left-p1{ padding: 0px 0px 10px 10px; margin: 0px;width:280px}
.info-left-p2{ width:190px;padding:0px 0px 10px 0px;margin: 0px;float:right;}