
#main .content { padding:5px; margin:0 10px;}
#main .content .left { float:left; width:68%;  padding-right:10px;}
#main .content .right {float:left; width:28%; margin-left:10px;}
#main .content .right ul{margin:10px 0 0 5px; padding:0px;list-style:none; }
#main .content .right ul li{ margin:5px auto;}
#main .content .con{  padding-top:10px; padding-bottom:10px;; border-bottom:#ccc 1px solid; float:left; width:100%;}

#main .content .items { float:left; width:100%; background:#F4F4F4 ;border:1px solid #CCCCCC; position:relative;}
#main .content .items  .per{ float:left; width:30%; height: 270px; overflow:hidden; margin-top:20px; padding-left:10px;}
#main .content .items  .per h2 a{ color: #000;}
#main .content .items  .per ol{ margin:0 0 0 25px; padding:0px; clear:both;}
#main .content .lists { float:right; width:185px;}
#main .content .lists ul{margin:0 0 0 5px; padding:0px;list-style:none; font-family:Arial;}


.rightbox{width:240px; margin-bottom:10px; padding:5px;}

 .catbox h2{ font-size:18px; font-weight:normal; border-bottom:1px #ccc solid; display:block;  padding:10px;}
 .catbox ul{ margin-bottom:15px; padding:0px; list-style:none; font-family:Arial; }

 
 .catbox ul li{ background:url(../images/line-dotted.gif) repeat-x 0 25px;  padding:5px 0 6px 10px; height:16px; }


a.more{background:url(../images/search.gif) no-repeat;
color:#FFFFFF;
display:block;
float:right;
margin: 0 5px;
padding:4px 0;
text-align:center;
width:50px;}