.for_margin input[type="radio"] {
    margin-top: 2px;
}

/*for biz/photo.tpl */
.for_padding_button{
    padding-top: 6px;
}

/*for classified/detail.tpl and chatter/detail.tpl */
.red_link{
    color: #FFF!important;
}

/*for various business  pages*/
.table_margin_bottom{
    margin-bottom: 0;
}