.for_margin input[type="radio"] {
    margin-top: 2px;
}

/*for biz/photo.tpl */
.for_padding_button{
    padding-top: 6px;
}

/*for classified/detail.tpl and chatter/detail.tpl */
.red_link{
    color: #FFF!important;
}

/*for various business  pages*/
.table_margin_bottom{
    margin-bottom: 0;
}

.clear-padding{
    padding-left: 0;
    padding-right: 0;
}


/*for theme/default/biz/detail.tpl*/
@media (max-width: 767px){
    .img_center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .text_center_xs{
        text-align: center !important;
    }
}


